# Prerequisites
*.d
*.o
*.obj
*.exe
*.lib
*.a
*.dylib
*.so
*.dll

# CMake
build/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.cmake

# IDEs
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Output
Umbrifera

# Additional single files
/image*
/imgui*